.chart-header {
  display: flex;
  margin-bottom: 16px;
}

.chart-header .title {
  padding-top: 8px;
}

@media only screen and (min-width: 600px) {
  .chart-header .title {
    margin-right: 22px;
  }
}

@media only screen and (max-width: 600px) {
  .chart-header {
    display: flex;
    justify-content: space-between;
  }
}