.login {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
  override react material ui css:
  requires class specifity of atlest 2, unless using a CSS in JS solution
*/

.login .title {
  margin-bottom: 20px;
  font-weight: bold;
}

.form {
  display: flex;
}

.login .form__input {
  margin-right: 20px;
} 