.chart-and-figures-container {
  margin-bottom: 24px;
}

@media only screen and (min-width: 600px) {
  .main {
    padding: 50px 20px 0;
    box-sizing: border-box
  }

  .chart-and-figures-container {
    display: flex;
    justify-content: space-around;
  }
  
  .chart-and-figures-container .chart-card {
    flex-grow: 1;
    max-width: 70%;
    margin-right: 24px;
  }
}

@media only screen and (max-width: 600px) {
  .chart-and-figures-container .chart-card {
    margin-bottom: 24px;
  }
}