.login-signup {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-signup .title {
  margin-bottom: 20px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}

.form .form-input {
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}
