.login-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-signup .title {
  margin-bottom: 20px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}

.form .form-input {
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.error-container {
  transform: translateY(25px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-msg {
  margin-right: 8px;
  font-weight: bold;
}