.expenses-card .tabs {
  margin-bottom: 16px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container:not(:last-child) {
  margin-bottom: 24px;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
}

.submit-btn-container .MuiButton-root {
  padding: 8px 48px;
}

.expenses-list-card {
  margin-bottom: 20px;
  position: relative;
}

.expenses-list-card .delete-btn {
  position: absolute;
}

@media only screen and (min-width: 600px) {
  .expenses-list-card .delete-btn {
    top: 8px;
    right: 8px;
  }

  .input-container .input-label {
    margin-right: 24px;
  }
}

@media only screen and (max-width: 600px) {
  .expenses-list-card .delete-btn {
    top: 0;
    right: 0;
  }

  .input-container {
    justify-content: space-between;
  }

  .input-container .input-label {
    font-size: 14px;
    margin-right: 14px;
  }
}