.expenses-card .tabs {
  margin-bottom: 16px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.input-container .input-label {
  margin-right: 24px;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
}

.submit-btn-container .MuiButton-root {
  padding: 8px 48px;
}

.expenses-list-card {
  margin-bottom: 20px;
  position: relative;
}

.expenses-list-card .delete-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}